.header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px #0002;
}
.header > .row {
    display: flex;
    justify-content: space-between;
}
.header nav {
    display: flex;
    gap: 20px;
    flex-shrink: 0;
}
.header nav > a {
    flex-shrink: 0;
}
